.jkeyboard {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
}
.jkeyboard .jline, .jkeyboard .jline ul {
  display: block;
  margin: 0;
  padding: 0;
}
.jkeyboard .jline {
  text-align: center;
  margin-left: -14px;
}
.jkeyboard .jline ul li {
  font-family: arial, sans-serif;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #468db3;
  -webkit-box-shadow: 0 0 3px #468db3;
  -webkit-box-shadow: inset 0 0 3px #468db3;
  margin: 10px 0 1px 14px;
  color: black;
  border-radius: 5px;
  width: 30px;
  height: 42px;
  box-sizing: border-box;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.jkeyboard .jline ul li.uppercase {
  text-transform: uppercase;
}
.jkeyboard .jline ul li:hover, .jkeyboard .jline ul li:active {
  background-color: whitesmoke;
}
.jkeyboard .jline .return {
  width: 100px;
}
.jkeyboard .jline .space {
  width: 436px;
}
.jkeyboard .jline .numeric_switch {
  width: 64px;
}
.jkeyboard .jline .layout_switch {
  background: url("locale.png") no-repeat center right;
}
.jkeyboard .jline .shift {
  width: 80px;
  background: url("shift.png") no-repeat center center;
}
.jkeyboard .jline .backspace {
  width: 49px;
  background: url("backspace.png") no-repeat center center;
}
